<h3>管理员中心</h3>
<div>用户名：{{.User.Name}} <a href="/user/home">返回用户中心</a></div>
功能：
<a href="admin/addserver">添加服务器</a>
<a href="admin/addport">添加端口</a>
<a href="admin/manageport">管理端口</a>
<br/>
<br/>
服务器{{.Server.Ip}}端口管理 <br/>
{{if .Ports}}
{{range .Ports}}
<hr/>
端口:{{.Port}}
密码:{{.Password}}<br/>
最后使用时间:{{date .Sync_time "Y-m-d H:i:s"}}<br/>
已使用:{{.Flow_in | flow}}
购买量:{{.Flow_in_max | flow}}
剩余量:{{.Flow_surplus | flow}}
<br/>
用户名:{{.User.Name}} 手机号:{{.User.Mobile}} 邮箱:<a href="mailto:{{.User.Email}}">{{.User.Email}}</a>
<br/>
操作:<a href="/admin/portupdate/{{.Port_id}}">管理端口</a><br/>
{{end}}
{{else}}
还没有端口开启
{{end}}