<h3>用户中心</h3>
<div>用户名：{{.User.Name}}
    {{if .User.Isadmin}}
    <a href="/admin/home">管理员</a>
    {{end}}
    <a href="/user/setting">设置</a>
    <a href="/user/logout">退出</a></div>
联系管理员：<br/>
微信号：cheneylew  邮箱：<a href="mailto:cheneylew@163.com">cheneylew@163.com</a>
<br/>
您的服务器：<br/>
<div class="table-responsive">
    <table class="table">
        {{range .Ports}}
        <tr><td>
            计费方式:
            {{if compare .Ptype 1}}
            按流量计费 <br/>用量: 已使用:{{.Flow_in | flow}} 最大值:{{.Flow_in_max | flow}} 剩余:{{.Flow_surplus | flow}}
            {{else}}
            包年包月 <br/>时间段: 开始:{{dateformat .Start_time "2006-01-02"}} 截止:{{dateformat .End_time "2006-01-02"}} 剩余:{{fmt .Days_surplus "%.2f"}}天
            {{end}}
            <br/>
            IP:{{.Server.Ip}} <br/>
            端口:{{.Port}} <br/>
            密码:{{.Password}} <br/>
        </td></tr>
        {{end}}

    </table>
</div>
